{% extends '@notes/layout.html.twig' %}

{% block title %}
    Notes List
{% endblock %}

{% block body %}
    <div class="container listContainer">
        <div class="editNote" ng-controller="NoteListController as list">
            {#<div class="createNew">
                <md-button class="md-icon-button md-primary addNote" aria-label="Create Note">
                    <md-icon md-svg-src="content:add_circle_outline" title="Create Note"></md-icon>
                </md-button>
            </div>#}
            <md-content class="md-padding" layout-xs="column">
                <div flex-xs="" flex-gt-xs layout="column">
                    <md-card ng-repeat="note in list.allNotes" id="note_{[{ note.id }]}">
                        <md-card-title>
                            <md-card-title-text layout="row" layout-align="space-between center">
                                <span class="md-headline">{[{ note.title }]}</span>
                                <h6 class="md-subhead">{[{ note.updateAt.date }]}</h6>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div>{[{ note.content }]}</div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-href="/note/{[{ note.id }]}/edit">
                                <md-icon class="md-icon-button editBtn" md-svg-src="editor:mode_edit" aria-label="Edit"></md-icon>
                                Edit
                            </md-button>
                            <md-button ng-click="list.removeNote(note)">
                                <md-icon class="md-icon-button deleteBtn" md-svg-src="actions:delete" aria-label="Delete"></md-icon>
                                Delete
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>
        </div>
    </div>

    <div layout="row" layout-align="end center">
        <md-fab-speed-dial md-open="false" md-direction="up" class="floatFAB md-scale">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary">
                    <md-icon md-svg-src="content:add"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="Add Note" class="md-fab md-raised md-mini" ng-href="{{ path('note_new') }}">
                    <md-icon md-svg-src="actions:note_add" aria-label="Note" title="Create New Note"></md-icon>
                </md-button>
                <md-button aria-label="Add ToDo" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="av:playlist_add" aria-label="ToDo"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('bundles/notes/js/notesList.controller.js') }}"></script>
{% endblock %}
