{% extends 'base.html.twig' %}

{% block body %}
    <div ng-controller="ShellController">
        <h1>Note list</h1>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Title</th>
                <th>Content</th>
                <th>Creatat</th>
                <th>Updateat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="note in allNotes">
                <td>{[{ note.id }]}</td>
                <td>{[{ note.userId }]}</td>
                <td>{[{ note.title }]}</td>
                <td>{[{ note.content }]}</td>
                <td>{[{ note.createAt.date | date:(MM/DD/YYYY) }]}</td>
                <td>{[{ note.updateAt.date | date:(MM/DD/YYYY) }]}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
