{% extends '@notes/layout.html.twig' %}

{% block title %}
    Notes List
{% endblock %}

{% block body %}
    <div ng-controller="ShellController">
        <h1>Notes list</h1>
        <div class="createNew">
            <md-button class="md-raised addNote" value="Add New" ng-href="{{ path('note_new') }}">
                <md-icon md-svg-src="content:add_circle_outline"></md-icon>
                Create
            </md-button>
        </div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Title</th>
                <th>Content</th>
                <th>Creatat</th>
                <th>Updateat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="note in allNotes">
                <td>{[{ note.id }]}</td>
                <td>{[{ note.userId }]}</td>
                <td>{[{ note.title }]}</td>
                <td>{[{ note.content }]}</td>
                <td>{[{ note.createAt.date | date:(MM/DD/YYYY) }]}</td>
                <td>{[{ note.updateAt.date | date:(MM/DD/YYYY) }]}</td>
                <td>
                    <md-button>
                        <md-icon md-svg-src="editor:mode_edit" aria-label="Edit"></md-icon>
                        Edit
                    </md-button>
                    <md-button>
                        <md-icon md-svg-src="actions:delete" aria-label="Delete"></md-icon>
                        Delete
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
