{% extends '@notes/layout.html.twig' %}

{% block title %}
    Notes List
{% endblock %}

{% block body %}
    <div class="container listContainer">
        <div class="editNote" ng-controller="NoteListController">
            <div class="createNew">
                <md-button class="md-icon-button md-primary addNote" aria-label="Create Note"
                           ng-href="{{ path('note_new') }}">
                    <md-icon md-svg-src="content:add_circle_outline" title="Create Note"></md-icon>
                </md-button>
            </div>
            <md-content class="md-padding" layout-xs="column">
                <div flex-xs="" flex-gt-xs layout="column">
                    <md-card ng-repeat="note in allNotes" id="note_{[{ note.id }]}">
                        <md-card-title>
                            <md-card-title-text layout="row" layout-align="space-between center">
                                <span class="md-headline">{[{ note.title }]}</span>
                                <h6 class="md-subhead">{[{ note.updateAt.date }]}</h6>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div>{[{ note.content }]}</div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            {#<md-button class="md-icon-button" aria-label="Favorite">
                                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                            </md-button>#}
                            <md-button ng-href="/note/{[{ note.id }]}/edit">
                                <md-icon class="md-icon-button editBtn" md-svg-src="editor:mode_edit" aria-label="Edit"></md-icon>
                                Edit
                            </md-button>
                            <md-button>
                                <md-icon class="md-icon-button deleteBtn" md-svg-src="actions:delete" aria-label="Delete"></md-icon>
                                Delete
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('bundles/notes/js/notesList.controller.js') }}"></script>
{% endblock %}
