{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {#<pre>{[{ notes | json_encode }]}</pre>#}
        <h1>Note list</h1>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Title</th>
                <th>Content</th>
                <th>Creatat</th>
                <th>Updateat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in allNotes">
                    <td>{[{ note.id }]}</td>
                    <td>{[{ note.userId }]}</td>
                    <td>{[{ note.title }]}</td>
                    <td>{[{ note.content }]}</td>
                    <td>{[{ note.createAt.date | date:(MM/DD/YYYY) }]}</td>
                    <td>{[{ note.updateAt.date | date:(MM/DD/YYYY) }]}</td>
                </tr>
            </tbody>
        </table>

        <div class="addBtn">
            <md-button class="md-button addNote" value="Add New" ng-href="{{ path('note_new') }}">
                <md-icon class="addIcon" md-svg-src="content:add_circle_outline"></md-icon>
                Add
            </md-button>
        </div>
        {#    <ul>
                <li>
                    <a href="{{ path('note_new') }}">Create a new entry</a>
                </li>
            </ul>#}
    </div>
{% endblock %}
