{% extends '@notes/layout.html.twig' %}

{% block title %}
    Create New Note
{% endblock %}

{% block body %}
    <div ng-controller="NoteEditController">
        <h1>New Note</h1>
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
                <div>
                    <md-input-container>
                        <label>Title</label>
                        <input ng-model="formData.title">
                    </md-input-container>
                </div>
            </md-content>
            <md-content layout-padding="">
                <div>
                    <form name="userForm">
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs="">
                                <label>Content</label>
                                <input ng-model="formData.content">
                            </md-input-container>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
        <div class="btnArea">
            <md-button class="md-raised addNote" value="Add New" ng-href="{{ path('note_index') }}">
                Back
            </md-button>
            <md-button class="md-raised addNote" value="Add New" ng-click="createNote()">
                Save
            </md-button>
        </div>
    </div>
{% endblock %}